.App {
  text-align: center;
  background-color: goldenrod;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  max-width: 40vw;
  height: 20vh;
}

.rulesYahtzee {
  position: absolute;
  background-color: #40e0d0;
  border-radius: 50px;
  top: 25vh;
  line-height: 80%;
  width: 350px;
  height: 350px;
}

.questionmark {
  width: 20px;
  margin: 2px 2px 0 0;
}

.scoreboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 35vh;
}

.grandtotalcontainer {
  height: 13vh;
  margin: 0 20px 0 20px;

  h2 {
    border: 1px solid #40e0d0;
    background-color: #40e0d0;
  }
}

.dicecontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 20vh;
}

@media only screen and (max-width: 600px) {
  .logo {
    max-width: 95vw;
    height: 20vh;
  }
  .rulesYahtzee {
    top: 22vh;
    width: 350px;
    height: 270px;
    font-size: 80%;
  }
  .grandtotalcontainer {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .logo {
    max-width: 80vw;
  }
}
